.principal {
    border-radius: 10px;
	background-color: #ccccdf;
    padding: 10px;
    margin: 10px;
    width: 700px;
}

.secundaria {
    border-radius: 10px;
	background-color: #ddddf0;
    padding: 10px;
    margin: 10px;
}

table {
    width: 90%;
}
